.first-a {
    border-bottom: 0px solid white ;
}
.contact {
    border-bottom: 2px solid white;
}
.background {
    background-image: url(images/digital-art-artwork-illustration-city-cityscape-night-2178067-wallhere\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    width: 100%;
    min-height: 100vh;
    background-position: center;
}
.txt {
    max-width: 500px;
    margin: auto;
    margin-top: 240px;
}
.main-box {
    min-height: 500px;
    max-width: 500px;
    margin: auto;
}
.get {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
.ques {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
.Name {
    font-family: Montserrat;
}
.form-control {
    margin-top: 40px;
}

.butoni {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color:  #7E10B3;
    color: white !important;
    margin-top: 25px;
}
footer {
     min-height: 700px ; 
     background-color: #090A26;
}
.inventors {
    margin-top: -40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white !important;
}
